/** All Breakpoints **/

/** Common **/
.fjs-hidden {
    display: none;
}

/** Container **/
.container {
    max-width: 1024px;
    margin: 0 auto;
    background: #FFF;
}

.placeholder {
    background: grey;
    height: 300px;
    width: 724px;
}


/** Header **/
.header__section--advertising {
    display: none;
}

/** Navigation **/
/** Nav **/
.nav {
    background: #dddddd;
}

.nav__list {
    margin: 0 0 5px 0;
}

.nav__list__item {
    display: inline;
    line-height: 50px;
    margin-left: 15px;
}

.nav__list__item__link {
    font-weight: 500;
    font-size: 1.1em;
    color: #606060;
    text-decoration: none;
    text-transform: uppercase;
}

.red {
    color: darkred !important;
}

.green {
    color: green;
}

/** Fade In **/
.fadein {
	opacity:0;
	-webkit-animation: fadein ease-in 1;
	-moz-animation: fadein ease-in 1;
	-o-animation: fadein ease-in 1;
	animation: fadein ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fadein-1s {
	-webkit-animation-duration: 2000ms;
	-moz-animation-duration: 2000ms;
	-o-animation-duration: 2000ms;
	animation-duration: 2000ms;
}

@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }



/** iPhone **/
@media only screen and (max-width: 1024px) {

    .container {
        width: 375px;
        margin: 0 auto;
    }

    .row-item.video {
        position: relative;
        width: 375px;
        height: 300px;
        overflow: hidden;
    }

    .row-item.video video {
        height: 295px;
        position: absolute;
    }
}

/** Desktop **/
@media only screen and (min-width: 1024px) {

    /** Header **/
    .header__section--advertising {
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .row-item.first {
        float: left;
    }

    .row-item.small:not(.first) {
        margin-left: 724px;
    }

    .row-item.big:not(.first) {
        margin-left: 305px;
    }

    .row-item.video {
        position: relative;
        width: 719px;
        height: 300px;
        overflow: hidden;
    }

    .row-item.video video {
        width: 719px;
        position: absolute;
        bottom: 0;
    }
}
